/*GENERAL*/

body {
	margin: 0;
}

p {
	color: white;
	font-family: Dancing Script, Arial;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:link {
	text-decoration: none;
	color: white;
}



/*HEADER*/

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #121212;
	height: 85px;
	z-index: 100;

	

	font-size: 25px;
	font-weight: 700;
	white-space: nowrap;
}

header a {
	color: white;
	font-family: Dancing Script, Arial;
}

.nameImg {
	margin: 0 40px;
	height: 85px;
}

.nameImg img{
	height: 85px;
}

ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0 12px;
}

li:hover p{
	transform: scale(1.25);
	color: #Fb4526;
	transition: 0.15s;
}

@media (max-width: 650px) {
	.nameImg {
		margin: 0 5px;
	}
}

@media (max-width: 575px) {

	li {
		margin: 0 5px;
	}

	.nameImg {
		margin: 0 3px;
	}

	li:hover p{
		transform: scale(1.0);
		color: #Fb4526;
		transition: 0.15s;
	}
}

@media (max-width: 470px) {
	.nameImg {
		margin: 0;
	}

	li {
		font-size: 22px;
	}
}


/*MAIN*/

main {
	background-color: #272727;
	padding-top: 85px;
}

.about {
	height: fit-content;
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: fit-content;
	height: fit-content;
	padding: 35px 60px;
	grid-column-gap: 45px;
}

.about p {
	font-family: Caveat, Arial;
}

.aboutVideo {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutVideo video{
	width: 250px;
}

.aboutText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 70px;
}

.aboutText .tittle {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	margin: 0;
}

.aboutText .paragraph {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0;
}


@media (max-width: 1020px) {
	.aboutText {
		margin: 0 40px;
	}
}

@media (max-width: 1000px) {
	.aboutText {
		margin: 0 10px;
	}
}

@media (max-width: 900px) {
	.aboutText {
		margin: 0;
	}

	.aboutText .paragraph {
		margin-top: 5px;
	}

	.about {
		padding: 25px 40px;
	}
}

@media (max-width: 800px) {
	.about {
		grid-column-gap: 25px;
	}
}

@media (max-width: 769px) {
	.theLukeFella {
		display: none;
	}

	.aboutText .tittle {
		font-size: 28px;
	}
}

@media (max-width: 715px) {
	.aboutText .paragraph {
		font-size: 18px;
	}
}


@media (max-width: 685px) {


	.aboutText .tittle {
		font-size: 24px;
	}

	.aboutText .paragraph {
		line-height: 20px;
	}
}

@media (max-width: 650px) {
	.about {
		padding: 20px 30px;
	}
}

@media (max-width: 610px) {

	.aboutText .paragraph {
		line-height: 19px;
	}
}


@media (max-width: 580px) {

	.about {
		grid-template-columns: 225px 1fr;
		grid-column-gap: 15px;
	}

	.aboutVideo video{
		width: 225px;
	}

	.aboutText .tittle {
		font-size: 22px;
	}

	.aboutText .paragraph {
		line-height: 18px;
		font-size: 16px;
	}
}

@media (max-width: 530px) {
	.about {
		padding: 20px 20px;
	}
}



.highlights {
	background-color: #404040;
	height: fit-content;
}

.highlightsTittle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.highlightsTittle p {
	padding-top: 10px;
	font-family: Caveat, Arial;
	font-size: 30px;
	line-height: 0;
	font-weight: 600;
}

.pictures {
	display: grid;
	padding: 15px 60px;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
	row-gap: 50px;
}

.highlights img {
	width: 100%;
	border-radius: 20px;
}

@media (max-width: 1000px) {
	.pictures{
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 900px) {
	.pictures {
		column-gap: 30px;
		row-gap: 30px;
		padding: 30px 40px 15px 40px;
	}
}

@media (max-width: 769px) {
	.highlightsTittle p {
		font-size: 28px;
	}
}

@media (max-width: 685px) {
	.highlightsTittle p {
		font-size: 24px;
		margin: 20px;
	}
}

@media (max-width: 650px) {
	.pictures {
		column-gap: 15px;
		row-gap: 15px;
		padding: 20px 30px 10px 30px;
	}
}

@media (max-width: 550px) {
	.pictures{
		grid-template-columns: 1fr;
		padding: 20px 30px 5px 30px;
	}

	.highlights img {
		filter: none;
	}

	.highlightsTittle p {
		margin: 15px;
	}
}

@media (max-width: 530px) {
	.pictures{
		padding: 20px 20px 5px 20px;
	}
}



/*FOOTER*/


footer {
	background-color: #404040;
	height: fit-content;
	padding: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

footer .text {
	padding: 0 100px;
	display: inline-block;
}

footer p {
	line-height: 15px;
	font-family: Lato, Arial;
	font-weight: 100;
	font-size: 14px;
}

.getDirections {
	margin-left: 20px;
}

.insta {
    width: 45px;
    float: right;
    margin-left: auto;
    padding-right: 100px;
}

.insta img{
    width: 100%;
    transition: transform 0.15s;
}

.credit {
	position: absolute;
	bottom: 1px;
	left: 110px;
	margin: 0;
}

.credit p {
	margin: 0;
	font-size: 11px;
	opacity: 0.7;
}

footer a:hover {
	color: #Fb4526;
	font-weight: 300;
	transition: 0.15s;
}

footer a:hover img {
	transform: scale(1.25);
}

@media (max-width: 900px) {
	footer .text {
		padding: 0 50px;
	}

	.credit {
		position: absolute;
		bottom: 1px;
		left: 60px;
		margin: 0;
	}

	.insta {
	    padding-right: 50px;
	}

	footer {
		padding-top: 0px;
	}

}

@media (max-width: 650px) {
	.getDirections {
		margin-left: 0;
		white-space: nowrap;
	}
}